[Desktop Entry]
Encoding=UTF-8
Name=Tile Windows Horizontally
Comment=Tile Windows Horizontally
Exec=tile -h -w -pGnome2
Terminal=false
Type=Application
StartupNotify=false
Categories=GNOME;Application;Core;
